/* 
	#e4087d - kleur
	#f63996 - kleur (licht)
	#f0f0f0 - wit
*/

/* Algemene style elementen -------------------------------------------------*/
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Light.ttf"); font-weight: 300;}
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Medium.ttf"); font-weight: 500;}

* {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	font-family: "Fira Sans";
	font-size: 3.5vh;
	font-weight: 300;
	line-height: 4.8vh;
	color: #f0f0f0;
	user-select: none;
	-webkit-user-select: none;
	touch-callout: none;
	-webkit-touch-callout: none;
	user-drag: none;
	-webkit-user-drag: none;
}

html, body {
	height: 100%;
	background-color: #f63996;
}

#background {
	background-image: url("../img/achtergrond.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	width: 350vmin;   /*  300vw */
	height: 200vmin;  /*  172vw */
	left: -150vmin;   /* -120vw */
	bottom: 0;
}

header {
	position: fixed;
	width: 100vw;
	height: 10vh;
	background-color: #f0f0f0;
}

h1 {
	font-size: 5vh;
	font-weight: 500;
	text-align: center;
	color: #e4087d;
	padding-top: 3.5vh;
}

h2 {
	font-weight: 500;
	font-size: 4.5vh;
	margin-bottom: 2vh;
}

h3 {
	font-weight: 500;
	font-size: 3.5vh;
}

section {
	padding: 2vh 8vw;
	position: fixed;
	top: 12vh;
	bottom: 13vh;
	width: 84vw;
	overflow-y: auto;
}

p {
	margin-bottom: 1vh;
}
.just {
	text-align: justify;
}
.center {
	text-align: center;
}

nav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 13vh;
}

nav>div {
	position: fixed;
	bottom: 0;
	height: 10vh;
	width: 20vw;
	background-color: #f0f0f0;
	background-size: 10vh;
	background-repeat: no-repeat;
	background-position: center;
}

#btnEi {background-image: url("../img/nav/up_ei.svg"); left: 0vw;}
#btnEi.down {background-image: url("../img/nav/down_ei.svg");}
#btnShine {background-image: url("../img/nav/up_shine.svg"); left: 20vw;}
#btnShine.down {background-image: url("../img/nav/down_shine.svg");}
#micwrap {
	left: 40vw;
	height: 13vh;
	background-color: #f0f0f0;
	border-top-left-radius: 3vh;
	border-top-right-radius: 3vh;
}
#btnMic {
	position: absolute;
	top:1vh;left:1vh;right:1vh;bottom:0;
	border-top-left-radius: 2vh;
	border-top-right-radius: 2vh;
	background-image: url("../img/nav/up_mic.svg"); 
	background-size: 13vh;
	background-repeat: no-repeat;
	background-position: center;
}
#btnMic.down {background-image: url("../img/nav/down_mic.svg");}
#btnKompas {background-image: url("../img/nav/up_kompas.svg"); left: 60vw;}
#btnKompas.down {background-image: url("../img/nav/down_kompas.svg");}
#btnColofon {background-image: url("../img/nav/up_colofon.svg"); left: 80vw;}
#btnColofon.down {background-image: url("../img/nav/down_colofon.svg");}

nav .down {background-color: #e4087d;}
nav .up   {background-color: #f0f0f0;}

.show {display: block;}
.hide {display: none;}

/* Pagina 2: Shine ----------------------------------------------------------*/
#pagina2 img {
	width: 84vw;
}

/* Pagina 3: recording ------------------------------------------------------*/
#btnStart {
	width: 50vmin;
	height: 50vmin;
	background-size: 50vmin;
	background-repeat: no-repeat;
	background-position: center;
	margin: 3vh auto;
	background-image: url("../img/record/up_record.svg");
}
#btnStart.down {
	background-image: url("../img/record/down_pause.svg");
}
#btnStart.not {
	background-image: url("../img/record/not_record.svg");
}

#seconds {
	font-size: 6vh;
}

#btnPlay, #btnSend {
	width: 20vmin;
	height: 20vmin;
	background-size: 20vmin;
	background-repeat: no-repeat;
	background-position: center;
}
#btnPlay {
	float: left;
	background-image: url("../img/record/up_play.svg");
}
#btnPlay.down {
	background-image: url("../img/record/down_pause.svg");
}
#btnPlay.not {
	background-image: url("../img/record/not_play.svg");
}
#btnSend {
	float: right;
	background-image: url("../img/record/up_send.svg");
}
#btnSend.down {
	background-image: url("../img/record/down_send.svg");
}
#btnSend.not {
	background-image: url("../img/record/not_send.svg");
}

/* Pagina 4: weizer ---------------------------------------------------------*/
#pagina4 div {
	position: relative;
	height: 50vmin;
	margin: 3vh auto;
	text-align: center;
}
#pagina4 img {
	position: absolute;
	width: 50vmin;
	height: 50vmin;
	top: 0;
	left: 42vw;
	margin-left: -25vmin;
}
#afstand {
	position: absolute;
	width: 84vw;
	top: 23vmin;
	color: #f63996;
	font-size: 3vh;
}
#pagina4 #info {
	text-align: left;
}

/* Pagina 5: colofon --------------------------------------------------------*/
h3 img {
	display: inline-block;
	float: right;
	width: 40vmin;
}
li img {
	display: inline-block;
	float: right;
	width: 20vmin;
}
ul {
	list-style: none;
	margin-bottom: 4vh;
}

li {
	font-size: 3.5vh;
/*	margin-bottom: 1vh;*/
	margin-left: 3vw;
}
