<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nl.avans.aii.shine.HetEi"
        version     = "1.0.1"
        versionCode = "101">

    <name>
        Het Ei
    </name>

    <description>
	    'Het Ei van Bosch' is een ondersteunende app bij het Shine Festival in Den Bosch, van 7 tot 17 mei 2015. Op dit festival is 'Het Ei van Bosch' een installatie waar bezoekers, bij wijze van moderne biecht, de uitgesproken zonden van zichzelf en/of van andere bezoekers kunnen aanhoren en in perspectief plaatsen.
Met de app kun je zelf geheel anoniem een zonde inspreken en die toevertrouwen aan (= uploaden naar) het Ei. In het Ei zijn alle ingesproken zonden te beluisteren. De app heeft ook een locatiebepaling waarmee je kan zien hoe ver je nog van het ei weg bent en in welke richting het Ei is te vinden.
De app geeft verder informatie over deze installatie, over de relatie met Shine, over Jeroen Bosch 500 en over de betrokken personen.
	</description>

    <author href="http://www.heteivanbosch.tumblr.com" email="heteivanbosch@gmail.com">
        Luuk Marschalk, Boudewijn Naaijkens, Frans van Seggelen
	</author>
	
	<gap:platform name="Android" />
	<gap:platform name="iOS" />

<!-- Preferences -->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="android-minSdkVersion" value="4.4.4" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="2000" />

<!-- Plug-ins -->
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />
    
<!-- Icons -->
    <icon src="icon.png" />
    <!-- Android -->
    <icon src="res/icon/android/icon-36-ldpi.png"  gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"  gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"  gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <!-- iOS -->
    <icon src="res/icon/ios/icon-57.png"    gap:platform="ios" width="57"  height="57" />
    <icon src="res/icon/ios/icon-72.png"    gap:platform="ios" width="72"  height="72" />
    <icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />

<!-- Splash screens -->
    <gap:splash src="splash.png" />
    <!-- Android -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />

    <!-- iOS -->
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"         gap:platform="ios" width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png"      gap:platform="ios" width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />


    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>100</string>
    </gap:config-file>

    <access origin="*"/>
</widget>