/* 
	#e4087d - kleur
	#f63996 - kleur (licht)
	#f0f0f0 - wit
*/

/* Algemene style elementen -------------------------------------------------*/
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Light.ttf"); font-weight: 300;}
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Medium.ttf"); font-weight: 500;}

* {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	font-family: "Fira Sans";
	font-size: 3vh;
	font-weight: 300;
	line-height: 4vh;
	color: #f0f0f0;
}

html, body {
	height: 100%;
	background-color: #f63996;
}

#background {
	background-image: url("../img/achtergrond.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	width: 350vmin;   /*  300vw */
	height: 200vmin;  /*  172vw */
	left: -150vmin;   /* -120vw */
	bottom: 0;
}

header {
	position: fixed;
	width: 100vw;
	height: 10vh;
	background-color: #f0f0f0;
}

h1 {
	font-size: 5vh;
	font-weight: 500;
	text-align: center;
	color: #e4087d;
	padding-top: 3.5vh;
}

h2 {
	font-weight: 500;
	font-size: 4vh;
	line-height: 6vh;
}

h3 {
	font-weight: 500;
	font-size: 3vh;
	line-height: 5vh;
}

section {
	padding: 2vh 8vw;
	position: fixed;
	top: 12vh;
	bottom: 13vh;
	width: 84vw;
	overflow-y: auto;
}

p {
	text-align: justify;
	margin-bottom: 1vh;
}

nav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 13vh;
}

nav div {
	position: fixed;
	bottom: 0;
	height: 10vh;
	width: 20vw;
	background-color: #f0f0f0;
	background-size: 10vh;
	background-repeat: no-repeat;
	background-position: center;
}

#btnEi {background-image: url("../img/icon/up_ei.svg"); left: 0vw;}
#btnEi.down {background-image: url("../img/icon/down_ei.svg");}
#btnShine {background-image: url("../img/icon/up_shine.svg"); left: 20vw;}
#btnShine.down {background-image: url("../img/icon/down_shine.svg");}
#btnMic {background-image: url("../img/icon/up_mic.svg"); left: 40vw;
	background-size: 13vh;
	height: 13vh;
	border-radius: 3vh 3vh 0 0;
	border-width: 1.5vw 1.5vw 0;
	border-style: solid;
	border-color: #f0f0f0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#btnMic.down {background-image: url("../img/icon/down_mic.svg");}
#btnKompas {background-image: url("../img/icon/up_kompas.svg"); left: 60vw;}
#btnKompas.down {background-image: url("../img/icon/down_kompas.svg");}
#btnColofon {background-image: url("../img/icon/up_colofon.svg"); left: 80vw;}
#btnColofon.down {background-image: url("../img/icon/down_colofon.svg");}

.down {background-color: blue;}
.up   {background-color: #f0f0f0;}

.show {display: block;}
.hide {display: none;}

/* Pagina 3: recording ------------------------------------------------------*/
.btnRecord {
	width: 44vmin;
	height: 44vmin;
	border-radius: 25vmin;
	background-size: 60vmin;
	background-repeat: no-repeat;
	background-position: center;
}

#btnStart {
	margin: 3vh auto;
	background-image: url("../img/icon/up_mic.svg");
	border: 3vmin solid #f0f0f0;
}

.down#btnStart {
	background-image: url("../img/icon/down_mic.svg");
}

#pagina3 p {
	text-align: center;
}
#textSecondsLeft {
	font-size: 6vh;
}

#btnPlay, #btnSend {
	width: 17vmin;
	height: 17vmin;
	border-radius: 10vmin;
	background-size: 17vmin;
	border: 1.5vmin solid #f0f0f0;
}
#btnPlay {
	float: left;
	background-image: url("../img/icon/record_play.svg");
}
#btnSend {
	float: right;
	background-image: url("../img/icon/record_send.svg");
}
.down#btnPlay {
	background-image: url("../img/icon/record_pause.svg");
}
.down#btnSend {
	background-image: url("../img/icon/record_sending.svg");
}

/* Pagina 4: weizer ---------------------------------------------------------*/
#pagina4 p {
	text-align: center;
}
#pagina4 div {
	position: relative;
	height: 50vmin;
	margin: 3vh auto;
	text-align: center;
}
#pagina4 img {
	position: absolute;
	width: 50vmin;
	height: 50vmin;
	top: 0;
	left: 42vw;
	margin-left: -25vmin;
}
#afstand {
	position: absolute;
	width: 84vw;
	top: 23vmin;
	color: #f63996;
	font-size: 3vh;
}
#pagina4 #info {
	text-align: left;
}

/* Pagina 5: colofon --------------------------------------------------------*/
ul {
	list-style: none;
}

li {
	font-size: 2.5vh;
	margin-bottom: 1vh;
	margin-left: 3vw;
}
