/* 
	#e4087d - kleur
	#f63996 - kleur (licht)
	#f0f0f0 - wit
*/

/* Algemene style elementen -------------------------------------------------*/
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Light.ttf"); font-weight: 300;}
@font-face {font-family: "Fira Sans"; src: url("../fonts/FiraSans-Medium.ttf"); font-weight: 500;}

* {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
	font-family: "Fira Sans";
	font-size: 4vmin;
	font-weight: 300;
	line-height: 4vh;
	color: #f0f0f0;
}

html, body {
	height: 100%;
	background-color: #f63996;
}

#background {
	background-image: url("../img/achtergrond.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	width: 350vw;   /*  300vw */
	height: 200vw;  /*  172vw */
	left: -150vw;   /* -120vw */
	bottom: 0;
}

header {
	position: fixed;
	width: 100vw;
	height: 10vh;
	background-color: #f0f0f0;
}

h1 {
	font-size: 5vh;
	font-weight: 500;
	text-align: center;
	color: #e4087d;
	padding-top: 3.5vh;
}

h2 {
	font-weight: 500;
	font-size: 2.8vh;
	line-height: 6vh;
}

section {
	padding: 8vmin;
	position: fixed;
	top: 12vh;
	bottom: 12vh;
	overflow-y: auto;
}

p {
	text-align: justify;
	font-size: 2.8vh;
	margin-bottom: 1vh;
}

ul {
	list-style: none;
	font-size: 2.8vh;
}

li {
	font-size: 2.8vh;
	margin-bottom: 1vh;
}

nav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 12vh;
}

.navbtn {
	display: block;
	position: fixed;
	bottom: 0;
	height: 10vh;
	width: 20vw;
	background-color: #f0f0f0;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

#btnEi {background-image: url("../img/icon/up_ei.svg"); left: 0vw;}
#btnShine {background-image: url("../img/icon/up_shine.svg"); left: 20vw;}
#btnMic {
	background-image: url("../img/icon/up_mic.svg");
	background-size: 130%;
	height: 13vh;
	width: 20vw;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1vw solid #f0f0f0;
	border-bottom: 0;
	border-radius: 4vw 4vw 0 0;
	left: 40vw;
}
#btnKompas {background-image: url("../img/icon/up_kompas.svg"); left: 60vw;}
#btnColofon {background-image: url("../img/icon/up_colofon.svg"); left: 80vw;}

.down#btnEi {background-image: url("../img/icon/down_ei.svg");}
.down#btnShine {background-image: url("../img/icon/down_shine.svg");}
.down#btnMic {background-image: url("../img/icon/down_mic.svg");}
.down#btnKompas {background-image: url("../img/icon/down_kompas.svg");}
.down#btnColofon {background-image: url("../img/icon/down_colofon.svg");}

.down {background-color: #e4087d;}
.up   {background-color: #f0f0f0;}

.show {display: block;}
.hide {display: none;}

/* Pagina 3: recording ------------------------------------------------------*/
.btnRecord {
	width: 45vw;
	height: 45vw;
	border-radius: 45vw;
	background-color: #f0f0f0;
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
}

#btnStart {
	margin: auto;
	margin-top: 8vh;
	background-image: url("../img/icon/up_mic.svg");
	border: 3vw solid #f0f0f0;
}

#textSecondsLeft {
	text-align: center;
	margin-top: 6vh;
	font-size: 6vh;
}

#btnPlay {
	float: left;
	background-image: url("../img/icon/record_play.svg");
}

#btnSend {
	float: right;
	background-image: url("../img/icon/record_send.svg");
}

#btnPlay, #btnSend {
	width: 20vw;
	height: 20vw;
	background-size: 100%;
}